
*{
    padding: 0;
    
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; Optional: Set a background color for better contrast */
    line-height: 1.6;
    color: #333;
}

html {
    scroll-behavior: smooth;
    --scroll-time: 5s;
}


.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
}

.navhead {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(146, 161, 176, 0.35);
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    
}

.name {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.info {
    display: flex;
    align-items: center;
}

.connect {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
}

.connect ul {
    display: flex;
    align-items: center;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 1rem;
}

.links-1 li {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}


.first-page {
    display: flex;
    padding: 1rem;
    background-color: white;
}

.left {
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.right {
    width: 40%;
    display: flex;
    justify-content: center;
}
.im-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.im-1 img{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}


.intro {
    width: 80%;
    font-size: 1rem;
    line-height: 1.2;
    padding: 2rem;   
  
    justify-content: left;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}
.left{
    padding: 3rem;
}
.linking a {
    margin: 0 0.5rem;
}

.s-2 {
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.head-1 {
    
    color: Blue;
    text-align: center;
    
   
}

.main-2 {
    display: flex;
    
    justify-content: space-around;
    padding: 1rem;
    background-color: white;
}

.l-1{
    width: 40%;
    display: flex;
    justify-content: center;
}
.r-1{
    width: 50%;
    display: flex;
    justify-content: left;
}
.r1{
    display: flex;
    align-items: center;
}
.profile-pic {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 3px solid #333;
    object-fit: cover;
}

.cont p {
    font-size: larger;
}

.descp {
    font-size: larger;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    padding: 2rem;
    align-items: center;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    justify-content: center;
}


.s-3 {
    padding: 1rem;
}

.main-3 {
    /* display: flex; */
    
    justify-content: space-around;
    background-color: white;
}
.skill-1{
    max-width: 350px;
    /* border: 1px solid gray; */
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding: 1.5rem;
        font-size: 15px;
        /* border: 2px solid black; */
}
#im-2{
    height: 80px;
}

.l-2 {
    width: 80%;
}

.r-2 {
    width: 30%;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.r-2 img {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 80%;
    /* padding: 10px; */
}

.topic {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}


.s-4 {
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;
    
}

.pro1 {
    max-width: 350px;
    /* border: 1px solid gray; */
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding: 1.5rem;
        font-size: 15px;
        /* border: 2px solid black; */
    }
    
    .pro1 img {
        display: flex;
        justify-content: right;
        width: 100%;
        max-width: 700px;
        max-height: 250px;
        /* border-radius: 20px; */
}


.row1 {
    width: 25rem;
    max-width: 800px;
    margin-top: 1.2rem ;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    padding: 0.5rem;
}

.range1 {
    height: 10px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin-top: auto;
}
.table{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding-bottom: 3rem;
    padding-top: 1rem;
    border-radius: 20px;
}
.skill-bar {
    height: 100%;
    background-color: blue;
    border-radius: 20px;
}
.main-4{
    display: flex;
    justify-content: space-around;
}
.l-4{
    width: 60%;
    display: flex;
    justify-content: center;

}

.r-4 img{
    width: 90%;
    border-radius: 20px;
    
}

.r-4{
    width: 40%;
    display: flex;
    align-items: center;
}

.cont-1{
    width: 60%;
   
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 5rem;
    font-size: larger;
  
}
.connect-me a{
   display: flex;
}

img:hover{
    scale: 1.05;
}

@media (max-width: 1024px) {
    .links {
        display: none;
    }
   .r-2 img{
    height: auto;
    width: 100%;
   }
    .l-2{
        width: 100%;
    }
    .table{
       
        width: 100%;
        display: flex;
        justify-content: center;
       
        flex-direction: row;
         box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    }
    .row{
        display: flex;
        justify-content: space-around;
        padding-left: 2rem;
        flex-wrap: wrap;
    } 
    .row1{
        padding: 0;
        margin-left: 1rem;
    }
    .table {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .navhead {
        padding-top: 0.2;
    }
    .right{
        display: none;
    }
    .l-1 img{
        display: none;
    }
    .desc{
        font-size: 10px;
    }
    .r-2{
        padding: 0;
    }
  
    .name {
        font-size: medium;
    }

    .links-1 {
        display: none;
    }

    ul {
        width: 100%;
    }

    li {
        margin: 0.5rem 0;
        font-size: medium;
    }

    .first-page {
       
        flex-direction: column;
    }
    .main-2{
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
   .left{
    padding: 0;
    display: flex;
    justify-content: center;
   }
    .main-2 {
        flex-direction: column;
    }

    .l-1, .r-1 {
        width: 100%;
        border: none;
        display: flex;
        /* justify-content: center; */
    }
.r-1{
    display: flex;
    
}
    .desc, .profile-pic {
        width: 100%;
    }

    .profile-pic {
        height: 8rem;
        width: 8rem;
    }
    .first-page{
        flex-direction: column;
        margin: 0;padding: 0;

    }
    .left{
         width: 100%;
    }
    .l-4{
        width: 100%;
    }
    .r-4{
        width: 0;
        display: none;
    }
    
}

@media (max-width: 480px) {
    .name {
        font-size: small;
    }
    li {
        margin: 0.5rem 0;
        font-size: small;
    }
    .row{
        width: 50%;
    
    }
    .row1{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        min-width: 150px;
    }
   .row{
    width: 90%;
    margin-left: 0px;
    margin: 0;
    padding: 0;
   }
   .cont-1{
    width: 90%;
    padding: 10px;
    font-size: small;
   }
}
